@model mvc.Models.Event

<h1>Détails</h1>
<div>
    <h4>@Model.Title</h4>
    <p>@Model.Description</p>
    <p><strong>Date:</strong> @Model.EventDate</p>
    <p><strong>Location:</strong> @Model.Location</p>
</div>
<a asp-action="Index" class="btn btn-primary">Retourner à la liste</a>
