@model mvc.Models.Teacher

<h2>supprimer enseignant</h2>

<h3>Voulez vous supprimer cet enseignant ?</h3>

<div>
    <strong>@Model.Firstname @Model.Lastname</strong>
</div>

<form asp-action="Delete" method="post">
    <input type="hidden" name="Id" value="@Model.Id" />
    <button type="submit" class="btn btn-danger">Delete</button>
    <a href="@Url.Action("Index", "Teacher")" class="btn btn-secondary">Cancel</a>
</form>
